 @import '../styles.scss';

 //  -------------------- Intro Section  --------------------
 .intro {
   height: 600px;
   color: $grayish-violet;
   display: flex;
   padding-left: 90px;
   align-items: center;
 }

 .box-1,
 .box-2 {
   width: 50%;

   .lead {
     width: 90%;
   }

 }

 .img-bg {
   width: 120%;
   height: auto;
   background-repeat: no-repeat;
 }


 //  -------------------- Advanced Section  --------------------

 .advanced {
   padding: 50px;
   background-color: $light-gray;
   width: 100%;
   height: auto;
   color: $grayish-violet;

   .lead {
     width: 50%;
     margin: 0 auto;
   }

 }

 .api-container {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: -100px;
   margin-bottom: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .url-container {
   background-color: $dark-violet;
   border-radius: 10px;
   width: 100%;
   height:auto;
   background-image: url(../assets/images/bg-boost-desktop.svg);
   padding: 40px 50px;
 }

 .result-container {
   text-align: center;
   display: block;
   margin-top: 20px;
   width: 100%;
 }

 .result {
   display: flex;
   text-align: left;
   align-items: center;
   background-color: white;
   border-radius: 5px;
   width: 100%;
   height: auto;
   gap: 10px;
   padding: 0 20px;
   margin-bottom: 10px;
   flex-wrap: wrap;
 }

 .short-link {
   color: $cyan;
   padding-top: 20px;
 }

 .long-link {
   flex: 1;
   color: black;
   padding-top: 20px;
 }

 .btn-container {
   width: 10%;
   text-align: center;
 }



 .flex-container {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 80px;
 }

 .icon {
   background-color: $dark-violet;
   width: 70px;
   height: 70px;
   padding: 18px;
   clip-path: circle();
   position: absolute;
   top: -40px;
 }

 .flexbox {
   background-color: white;
   position: relative;
   color: $grayish-violet;
   padding: 80px 30px 30px 30px;
   border-radius: 5px;
   width: 30%;
   height: 10%;

   p {
     font-size: 14px;
   }

 }

 .first:after {
   content: "";
   background-color: $cyan;
   height: 10px;
   width: 30px;
   position: absolute;
   top: 100px;
   right: -30px;
 }


 .second {
   margin-top: 40px;
   position: relative;
 }

 .second:after {
   content: "";
   background-color: $cyan;
   height: 10px;
   width: 30px;
   position: absolute;
   top: 70px;
   right: -30px;
 }

 .third {
   margin-top: 80px;
 }


 .boost {
   background-color: $dark-violet;
   height: 200px;
   background-image: url(../assets/images/bg-boost-desktop.svg);
   display: flex;
   flex-direction: column;
   justify-content: center;

   .display-6 {
     color: white;
   }

   .btn {
     align-self: center;
     margin-top: 15px;
   }
 }

 .bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
 }


 @media (max-width: 700px) {
   .intro {
     flex-direction: column-reverse;
     height: auto;
     padding: 0;

     .lead {
       width: 90%;
       margin: 0 auto;
       font-size: 16px;
     }

     .btn {
       margin-top: 20px;
     }
   }

   .img-bg {
     width: 110%;
   }

   .box-2 {
     width: 100%;
     height: auto;
     padding-left: 40px;
   }

   .box-1 {
     width: 90%;
     text-align: center;
     padding-bottom: 100px;
   }

   .advanced {
     padding: 20px;

     .lead {
       width: 90%;
       margin: 0 auto;
       font-size: 18px;
     }
   }

   .api-container {
     width: 90%;
     margin-top: -80px;
     margin-bottom: 40px;
   }

   .url-container {
     flex-direction: column;
     justify-content: stretch;
     height: auto;
     padding: 20px;

     .form-control {
       width: 100%;
       padding: 20px 10px !important;
     }

   }

   .btn.btn-rect {
     width: 100%;
     margin-top: 20px;
   }


   .result {
     flex-direction: column;
     gap: 0;
     padding: 20px;
   }


   .short-link,
   .long-link {
     padding-top: 0;
   }


   .flex-container {
     flex-direction: column;
     align-items: center;
     padding-bottom: 80px;
   }

   .flexbox {
     padding: 50px 20px 10px 20px;
     width: 350px;
     height: 200px;
     text-align: center;
   }

   .first:after,
   .second:after {
     height: 100px;
     width: 10px;
     top: 200px;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
   }

   .icon {
     width: 70px;
     height: 70px;
     padding: 18px;
     clip-path: circle();
     position: absolute;
     top: -40px;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
   }


   .third {
     margin-top: 40px;
   }


 }
