<app-header></app-header>
<main>
  <div class="intro section-padding d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5">
      <div class="my-3 py-3">
        <h1 class="display-4 fw-normal">More than just shorter links</h1>
        <p class="lead fw-normal">
        <p class="lead sm-padding-bottom"> Build your brand’s recognition and get detailed insights
          on how your links are performing.</p>
        <a class="btn" href="#">Get Started</a>
      </div>
    </div>
    <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <img class="img-bg" src="../assets/images/illustration-working.svg" alt="background image" />
    </div>
  </div>

  <div class="advanced section-padding">
    <div class="api-container">
      <div class="url-container">
        <input type="text" class="form-control"  placeholder="Shorten a link here.." #link id  ="link"/>
        <button class="btn-rect" (click)="getShortLinks(link.value)">Shorten it </button>
      </div>

      <div *ngIf="objLinks.length != 0" class="result-container">
        <div *ngFor="let obj of objLinks; index as i" class="result">
          <p class="long-link">{{obj.long}}</p>
          <p class="short-link">{{obj.short}}</p>
          <button class="btn-rect secondary" (click) ="copyShortLink(obj.short)" > copy</button>
        </div>
      </div>
    </div>


    <div class="text-center">
      <h2 class="display-5 sm-padding-bottom"> Advanced Statistics</h2>
      <p class="lead"> Track how your links are performing across the web with our
        advanced statistics dashboard.</p>
    </div>

    <div class="flex-container">
      <div class="flexbox first">
        <img class="icon" src="../assets/images/icon-brand-recognition.svg" alt="icon-bran-recognition" />
        <h5 class="display-5"> Brand Recognition </h5>
        <p>
          Boost your brand recognition with each click. Generic links don’t
          mean a thing. Branded links help instil confidence in your content.
        </p>
      </div>

      <div class="flexbox second">
        <img class="icon" src="../assets/images/icon-detailed-records.svg" alt="icon-bran-recognition" />
        <h5 class="display-5"> Detailed Records </h5>
        <p>
          Gain insights into who is clicking your links. Knowing when and where
          people engage with your content helps inform better decisions.
        </p>
      </div>

      <div class="flexbox third">
        <img class="icon" src="../assets/images/icon-fully-customizable.svg" alt="icon-bran-recognition" />
        <h5 class="display-5"> Fully Customizable </h5>
        <p>
          Improve brand awareness and content discoverability through customizable
          links, supercharging audience engagement.
        </p>
      </div>
    </div>
  </div>

  <div class="boost text-center">
    <h3 class="display-5"> Boost your links today</h3>
    <a class="btn" href="#">Get Started</a>
  </div>
</main>
<app-footer></app-footer>